body{
	margin: auto 0;
	padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #56b870;
  position: sticky;
  top: 
}

li {
  float: left;
  border: 1px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
	background-color: grey;
}

.push{
	float: right;

}

.active{
	background-color: grey;
}

.navbar{
	position: fixed;
	width: 100%;
	top: 0;
	overflow: hidden;
}
